* {
    margin: 0;
    padding: 0;
}
body h1 {
    color: blue;
}
#navigation p {
    font-size: 16px;
    color: red;
}
div ol > p {
    font-weight: bold;
    color:green;
}
a[href="http://home.org"] {
    color: green;
}
a:active {
    color: red;
}
#nav:hover {
    background-color: lightgray;
}
