*{
    margin:0;
    padding:0;
}

.container{

    background-color: aqua; 
    background-image: url(haha.jpg);
    background-repeat: repeat-x;
    background-attachment: inherit;
    background-position: 10% 10%;
}
.kalu{
    background-color: brown;
}